/*!
 * Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    width: 100%;
    height: 100%;
	background-color:#000;
}

body {
    font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
}

hr {
    max-width: 50px;
    border-color: #f04613;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #f04613;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
	font-weight:100;
}


	
header {
    position: relative;
    width: 100%;
    /*min-height: auto;*/
	min-height: 100%;
    color: #fff;
    background-image: url(../images/mainphoto.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



.content-area {position:fixed; background-color:#3b2316; height:100%; right:0; padding: 40px 20px 20px 20px; width:45%;}
	
	
    


.btn {
    border: 1px solid #fff;
    border-radius: 30px;
    text-transform: uppercase;
   font-family: 'Oswald', sans-serif;
    font-weight: 400;
	letter-spacing:0.9px;
}

.btn-xl {
    padding: 7px 30px;
	font-size:18px;
}

.btn-default {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-group {margin-bottom:20px; margin-top:20px;}
.btn-group .fa-caret-left {padding-right:14px;}
.btn-group .fa-caret-right {padding-left:14px;}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
     border: 1px solid #fff;
    color: #3b2316;
    background-color: #c3c3c3;
}


.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #fff;
    color: #fff;
    background-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}



::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}


  
@media(max-width:991px) {
	.content-area {width:50%;}
	


	   
	  
	   
}
 @media(max-width:767px) {
.content-area {width:350px; opacity:0.8; }
header {background-image: url(../images/mainphoto_s.jpg);}

	 
	
}
	 
 @media(max-width:479px) {
	 .content-area {width:300px;}
	

}
	 
	 @media(max-width:400px) {}