    #actions {
        margin: 1em 0;
    }

    /* Mimic table appearance */
    div.table {
        display: table;
    }
    div.table .file-row {
        display: table-row;
    }
    div.table .file-row > div {
        display: table-cell;
        vertical-align: top;
        border-top: 1px solid #ddd;
        padding: 8px;
    }
    div.table .file-row:nth-child(odd) {
        background: #f9f9f9;
    }

    /* The total progress gets shown by event listeners */
    #total-progress {
        opacity: 0;
        transition: opacity 0.3s linear;
    }

    /* Hide the progress bar when finished */
    #previews .file-row.dz-success .progress {
        opacity: 0;
        transition: opacity 0.3s linear;
    }

    /* Hide the delete button initially */
    #previews .file-row .delete {
        display: none;
    }

    /* Hide the start and cancel buttons and show the delete button */

    #previews .file-row.dz-success .start,
    #previews .file-row.dz-success .cancel {
        display: none;
    }
    #previews .file-row.dz-success .delete {
        display: block;
    }

    .thumb {
        margin-top: 15px;
    }

    .gal-detail {
        position: relative;
    }

    .gal-detail .btn-action {
        position: absolute;
        right: 0px;
        top: 0px;
        display: none;
    }

    .gal-detail:hover .btn-action {
        display: block;
    }
    /*
        .gal-detail {
            position: relative;

        &:hover {
        .contact-action {
            display: block;
        }
        }
    */