/*!
 * Start Bootstrap - Agency v3.3.7+1 (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  overflow-x: hidden;
  font-family: 'Vollkorn', serif;
  letter-spacing:0.5px;
  line-height:1.3;
  font-size:18px;
  background-color:#f5f5f5;
}

html,
body {
    height: 85%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.text-muted {
  color: #777777;
}
.text-primary {
  color: #fed136;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin:0 0 20px;
}
p.large {
  font-size: 22px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #3b2316;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #554034;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif; 
  text-transform: uppercase;
  font-weight: 700;
}

h5 {
    font-size: 18px;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #e5e5e5;
}
.bg-darkest-gray {
  background-color: #222222;
}

.btn-default {
  color: #3b2316;
  background-color: #fff;
  border: 2px solid #3b2316;
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif; 
  text-transform: uppercase;
  font-weight: 400;
  font-size:13px; letter-spacing:2px;
  padding:15px 40px;
  min-width:250px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: white;
  background-color: #3b2316;
  border-color: #3b2316;
}

.btn-primary {
  color: white;
  background-color: #3b2316;
  border-color: #3b2316;
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif; 
  text-transform: uppercase;
  font-weight: 400;
  font-size:12px; letter-spacing:2px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #4f3628;
  border-color: #4f3628;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-primary .badge {
  color: #fed136;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-xl .badge {
  color: #fed136;
  background-color: white;
}
.navbar-custom {
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #fed136;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fec503;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #fed136;
  border-color: #fed136;
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif; 
  text-transform: uppercase;
  color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #fed136;
}
.navbar-custom .nav li {padding:0 20px; font-size:13.5px;}
.navbar-custom .nav li a {
	font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif; 
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: #000;
  padding:0px;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  outline: none;
	border-bottom:3px solid #c2bcb9; text-decoration:none;  
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #fed136;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #fec503;
}
@media (min-width: 768px) {
  .navbar-custom {
    background-color: #fff;
    padding: 40px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
	position:relative;
	margin-bottom:0;
	height:94px;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
	padding:0;
	height:0;

  }
  
  .navbar-brand > img {display:inline-block;}
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    
	top:0;
	position:fixed;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}


/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 70px;
    left: 0;
}
#page-content.slide-active {
    padding-top: 0
}



/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
	z-index:10;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: #3b2316;
}
.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: fixed;
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) { 
	#slide-nav .container {
	    margin: 0!important;
	    padding: 0!important;
      height:100%;
	}
	#slide-nav .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
	    position: absolute;
	    width: 80%;
	    top: -1px;
	    z-index: 1000;
	}
	#slide-nav #slidemenu {
	    background: #f7f7f7;
	    left: -100%;
	    width: 60%;
	    min-width: 0;
	    position: fixed;
	    padding-left: 0;
	    z-index: 2;
	    top: 0;
	    margin: 0;
		height:100%;
	}
	#slide-nav #slidemenu .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
	    min-width: 0;
	    width: 80%;
	    white-space: normal;
	}
	#slide-nav {
	    border-top: 0
	}
	#slide-nav.navbar-inverse #slidemenu {
	    background: #333
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	#navbar-height-col {
	    position: fixed;
	    top: 0;
	    height: 100%;
      bottom:0;
	    width: 60%;
	    left: -80%;
	    background: #f7f7f7;
	}
	#navbar-height-col.inverse {
	    background: #333;
	    z-index: 1;
	    border: 0;
	}
	#slide-nav .navbar-form {
	    width: 100%;
	    margin: 8px 0;
	    text-align: center;
	    overflow: hidden;
	    /*fast clearfixer*/
	}
	#slide-nav .navbar-form .form-control {
	    text-align: center
	}
	#slide-nav .navbar-form .btn {
	    width: 100%
	}
}
@media (min-width:768px) { 
	#page-content {
	    left: 0!important
	}
	.navbar.navbar-fixed-top.slide-active {
	    position: fixed
	}
	.navbar-header {
	    left: 0!important
	}
}


.secondary-nav {padding:15px 0; position:relative; width:100%; background:#f2f0e9; height:50px; font-size:13.5px; font-weight:400; letter-spacing:1.3px; font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif; text-transform:uppercase;}
.secondary-nav ul {display:block;float:left; padding:0; margin:0;}
.secondary-nav ul li {display:block;float:left; list-style:none; padding:0px 20px;}
.secondary-nav ul li a, .secondary-nav a.phone-number {color:#000;}
.secondary-nav a.phone-number:hover, .secondary-nav a.phone-number:focus {text-decoration:none;}
.secondary-nav ul li a:hover, .secondary-nav ul li a:focus  {border-bottom:3px solid #c2bcb9; text-decoration:none;}
.secondary-nav .phone-number {float:right;}

.btn {border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;}
.navbar-custom .nav li a.btn-booknow {padding:10px 20px !important; background:#e3e0db;  border:2px solid #c2bcb9; position:relative; top:-13px;}
.navbar-custom .nav li a.btn-booknow:hover , .navbar-custom .nav li a.btn-booknow:focus{border:2px solid #5d5a58; border-bottom:2px solid #5d5a58; background:#5d5a58; color:#fff;}

.icon-calendar {background-image:url(../img/icons/icons.png); background-repeat:no-repeat; width:24px; height:24px; display:block; float:left; background-position:-24px 0px; position:relative; top:5px; position:relative; top:-2px; left:-4px;}

.navbar-custom .nav li a.btn-booknow:hover .icon-calendar, .navbar-custom .nav li a.btn-booknow:focus .icon-calendar {background-position:0 0px;}


section {
  padding: 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(254, 209, 54, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
::-moz-selection {
  text-shadow: none;
  background: #c2bcb9;
}
::selection {
  text-shadow: none;
  background: #c2bcb9;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #fed136;
}

/*---------------*/
.modal-content {border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05); -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05); padding:0px 20px 0px; border:4px solid #e3e0db;}
.modal-backdrop.in
{
    opacity:0 !important;
    position:fixed;// This makes it cover the entire scrollable page, not just browser height
    height:100%;
}

  .dp-highlight .ui-state-default {
          background: #3b2316;
          color: #FFF;
        }
        .ui-datepicker.ui-datepicker-multi  {
          width: 100% !important;
		  padding:30px 15px 15px;
        }
        .ui-datepicker-multi .ui-datepicker-group {
        float:left;
        }
        #datepicker {
          height: 300px;
          overflow-x: scroll;
        }
		
		.ui-datepicker-next::before
		{background: rgba(0, 0, 0, 0) url("../img/icons/icon-calendar-next.png") no-repeat scroll 0 0;
    color: #d0d0d0;
    content: " ";
    display: inline-block;
    font-size: 30px;
    height: 23px;
    width: 24px;}
	
	.ui-datepicker-prev::before
		{background: rgba(0, 0, 0, 0) url("../img/icons/icon-calendar-prev.png") no-repeat scroll 0 0;
    color: #d0d0d0;
    content: " ";
    display: inline-block;
    font-size: 30px;
    height: 23px;
    width: 24px;}
	
	.modal-booking {font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif; letter-spacing:1px;}
	.modal-booking h3 {width:100%; font-size:24px; font-weight:600; letter-spacing:3px; color:#000;  text-align:center;}
	.modal-booking h4 {width:100%; position:relative; top:20px; font-size:16px; font-weight:400; letter-spacing:3px; color:#5d5a58;  text-align:center;}
	.selectdate-title {background:#fff; padding:2px 15px;}
	
	.modal-booking label {text-transform:uppercase;  font-weight:400; font-size:12px; padding:10px 0 0 0;}
	.modal-booking input[type=text], .modal-booking input[type=email] {padding: 10px; border:2px solid #c2bcb9; font-size:15px; width:100%;  }
	.numbers-row input[type=text] {float: left; text-align: center;}
	.modal-booking .btn {padding:15px; width:100%;}
	.modal-booking .btn-lg {padding:20px; width:100%;}
	.modal-booking .row {padding-bottom:20px;}
	.modal-booking .row.promo-box {padding-bottom:10px; padding-top:20px;}
	#promo-show {text-transform:uppercase; font-size:14px;}
	
.ui-widget { font-size: 100% }


.button {
  margin: 0 0 0 5px;
  text-indent: -9999px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  float: left;
  text-align: center;
  background: url(../img/icons/plus_minus.png) no-repeat;
  position:absolute;
}
.dec {
  background-position: 0 -20px;
}
.numbers-row   {position:relative;}
.inc.button {right: 32px; top: 47px}
.dec.button {left: 20px; top: 47px}
	
.label-number {padding:4px 0; display:block; float:left; }

.saturdays_intro {
    background-color: #fff;
    border: 1px solid #3b2316;
    margin-top: -50px;
    padding: 45px 10%;
    text-align: center;
    position: relative;
    z-index: 10;
}
.saturdays_intro .saturdays_subheader {font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif; letter-spacing:1px; font-size:18px; text-transform:uppercase; margin:0;}
.saturdays_intro h2 {font-family: 'Lobster', "Helvetica Neue", Helvetica, Arial, sans-serif; text-transform:capitalize; font-size:60px; color:#3b2316; line-height:58px; margin:0 0 10px 0}
.saturdays_intro h4{font-family: 'Vollkorn', serif;  font-size:24px; font-style:italic; text-transform:capitalize; font-weight:400; margin:15px 0 15px;}
.saturdays_intro h2::after {content: "-";    display: block;    font-size: 50px;    line-height: 32px;    margin-top: 15px;    text-align: center; font-weight:400; font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;}
.global-icon-wrapper  {margin:30px 0 0;}
.global-icon-wrapper .col-sm-3{font-size: 12px; font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif; text-transform:uppercase; letter-spacing:2px; color:#000; text-align:center; height:100px;}
.global-icons {background-image: url("../img/icons/global_icons.png");  background-repeat: no-repeat; height: 50px;    width: 50px; display:block; margin:0 auto;}

.icon-pool{background-position:0 0;}
.icon-restaurant{background-position:0 -50px;}
.icon-gym{background-position:0 -100px;}
.icon-shuttle{background-position:0 -150px;}
.icon-calendar-l{background-position:0 -200px; margin:0 auto; float:none;}
.icon-wifi{background-position:0 -250px;}
.icon-kingbed{background-position:0 -300px;}
.icon-living{background-position:0 -350px;}
.icon-tv{background-position:0 -400px;}
.icon-hairdryer{background-position:0 -450px;}
.icon-coffee-machine{background-position:0 -500px;}
.icon-bath-robes{background-position:0 -550px;}
.icon-fridge{background-position:0 -600px;}
.icon-air-conditioner{background-position:0 -650px;}
.icon-slipper{background-position:0 -700px;}
.icon-bath-tub{background-position:0 -750px;}
.icon-bath-towels{background-position:0 -800px;}
.icon-bath-products{background-position:0 -850px;}
.icon-newspaper{background-position:0 -900px;}

.icon-kitchenaid {
    background-position: 0 -950px;
}

.icon-concierge {
    background-position: 0 -1000px;
}

.calendar-widget {margin-top:50px; font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;}
.calendar-widget .title {
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 19.8px;
    margin: 0 auto 35px;
    max-width: 130px;
    text-transform: uppercase; text-align:center;
}

.calendar-widget .check-in, .calendar-widget .check-out {
    background-color: #fff;
    border: 2px solid #3b2316;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
	width:44%;
	margin:0 2.5%;
}

.calendar-widget .check-in .toplabel, .calendar-widget .check-out .toplabel {
    background-color: #3b2316;
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 12px;
    padding: 9px 0 8px;
    text-transform: uppercase;
}

.calendar-widget .check-in .day, .calendar-widget .check-out .day {
    color: #3b2316;
    font-size: 61px;
    letter-spacing: 0;
    line-height: 68.2px;
    margin-top: 21px;
}

.calendar-widget .check-in .month, .calendar-widget .check-out .month {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 13px;
    margin: 9px 0 19px;
    text-transform: uppercase;
}

.calendar-widget button {
    margin-top: 35px;
    min-width: 240px;
}

.btn-lg {padding:17px 40px; font-size:18px;}

.paragraphs-box {margin:80px 0 0;}

.paragraphs-items {position:relative;  height:400px; overflow:hidden; }
.paragraphs-content{
    border: 2px solid #e3e0db;
	border-left: 0 none;
    padding: 30px 12% 0;
	display:block;
	height:400px;
	text-align:center;
	background:#fff;
    }
.paragraphs-content h3 {margin-bottom:20px; letter-spacing:2px;}
.paragraphs-content h4{font-family: 'Vollkorn', serif;  font-size:24px; font-style:italic; text-transform:capitalize; font-weight:400; margin:15px 0 15px;}
.paragraphs-content h4::after {content: "-";    display: block;    font-size: 50px;    line-height: 32px;    margin-top: 5px;    text-align: center; font-weight:400; font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;}
.paragraphs-items .btn{margin-top:20px;}
.paragraphs-box:nth-child(odd) .col-md-6 {float:right;}
.paragraphs-box:nth-child(odd) .paragraphs-content {border: 2px solid #e3e0db;	border-right: 0 none;}
.paragraphs-image {position:relative; overflow:hidden;}

.paragraphs-3box-items {margin-top:80px;}
.paragraphs-3box-items .paragraphs-content {border: 2px solid #e3e0db;	border-top: 0 none; height:450px; padding-top:25px; border-bottom:4px solid #3b2316;}

.carousel-wrapper {border: 5px solid #e5e1de;
    margin: 80px auto 0;
    padding: 30px 50px;
    position: relative;}
.carousel-wrapper h2 {position:absolute; top:-40px; text-align:center; width:100%; margin-left:-50px; color:#8f8f8f;  letter-spacing:2.5px; }
.carousel-wrapper h2 span {background:#f5f5f5; padding:10px 20px;}

.carousel-wrapper h4 {position:absolute; bottom:-20px; text-align:center; width:100%; margin-left:-50px;; color:#8f8f8f;  letter-spacing:1.5px; font-weight:400 }
.carousel-wrapper h4 span {background:#f5f5f5; padding:10px 20px;}
.carousel-wrapper h4 a {color:#ccc;}

section#fieldguide {padding:30px 0 80px; margin-top:80px;}

.fieldguide-box {margin:80px 0 0;}

.fieldguide-items {position:relative;  height:510px; overflow:hidden; }
.fieldguide-content{
    border: 2px solid #e3e0db;
	border-left: 0 none;
    padding: 40px 20% 0;
	display:block;
	float:left;
	height:510px;
	text-align:center;
	background:#fff;
    }
.fieldguide-content h3 {margin-bottom:30px; letter-spacing:2px;}
.fieldguide-content .date {color:#999; text-transform:uppercase;}
.fieldguide-content p {font-size:16px;}
.fieldguide-items .btn{margin-top:20px;}
#fieldguide .carousel-indicators {bottom:-50px;}
#fieldguide .carousel-control.left, #fieldguide .carousel-control.right {background-image:none;}
#fieldguide .carousel-control {width:25px; font-size:70px; color:#999; text-shadow:none;}
#fieldguide .carousel-control .fa-angle-left {left:-50px; top:42%; position:absolute;}
#fieldguide .carousel-control .fa-angle-right {right:-50px; top:42%; position:absolute;}
#fieldguide .carousel-indicators li,#fieldguide .carousel-indicators .active {width:13px; height:13px; border:2px solid #000; }
#fieldguide .carousel-indicators li {background:transparent none;}
#fieldguide .carousel-indicators .active {background:#444;}
#fieldguide  .carousel li {margin:0;}
#fieldguide .heading-title {background:#fff; display:inline-block; padding:30px 50px 15px; border:2px solid #ccc; position:absolute; top:-55px; z-index:99;left:50px;  }
#fieldguide .heading-title span {font-family: 'Lobster', "Helvetica Neue", Helvetica, Arial, sans-serif; text-transform:capitalize; position:relative; top:-15px;}


header .carousel-control.left, header .carousel-control.right {background-image:none;}
header .carousel-control {width:25px; font-size:70px; color:#fff; }
header .carousel-control .fa-angle-left {left:20px; top:42%; position:absolute;}
header .carousel-control .fa-angle-right {right:20px; top:42%; position:absolute;}

.homepage footer {margin-top:0px;}
footer {padding:80px 0; background:#fff; margin-top:80px;}
footer ul {padding:0; margin:0; font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;}
footer li {margin:0; list-style:none;  font-size:16px; letter-spacing:1px; text-align:left;}
footer li a {color:#5d5a58; padding:6px 0; display:inline-block; border-bottom:3px solid transparent;}
footer li a:hover, footer li a:focus {border-bottom:3px solid #c2bcb9; text-decoration:none;}
footer .subscription {margin-left:100px; text-align:left; color:#5d5a58;}
footer .social-media {margin: 20px 0 20px 100px; text-align:left; color:#5d5a58;}
footer .social-media .fa {font-size:30px; margin-right:15px;}
footer .social-media a{color:#5d5a58;}
footer .subscription input[type="text"],
footer .subscription input[type="email"] {border: 2px solid #c2bcb9;
    font-size: 15px;
    height: 60px;
    padding: 15px;
    width: 100%; }
footer .subscription input[type="text"].error,
footer .subscription input[type="email"].error
{
	border-color:#F00;	
}

.footer-bottom {background:#5d5a58; padding:45px 0; color:#fff; font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:14px; letter-spacing:2px;}
.footer-bottom .contact-link {text-align:right; text-transform:uppercase;}
.footer-bottom a {color:#fff;}
.footer-bottom a:focus, .footer-bottom a:hover {color:#fff;}


.page-heading h1 {font-size:70px; text-align:center; margin:30px 0 15px;}
.room-filters-box{
border: 3px solid #3b2316;
    border-radius: 3px;
    text-align: center;
	padding:20px 30px;}
.room-filters select, .modal-booking select {-moz-appearance: none;
	font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:14px;
    background: #fff url("../img/icons/dropdown-arrow.png") no-repeat scroll 100% center;
    border: 2px solid #c2bbb9;
    border-radius: 0;
    cursor: pointer;
    letter-spacing: 2px;
    line-height: 15px;
    outline: medium none;
    padding: 10px 30px 10px 13px;
    text-transform: uppercase;width:100%;}
.room-filters h4 { text-align:center; margin-top:-20px;}
.room-filters h4 span {background:#f5f5f5; display:inline-block; padding:10px; z-index:2; position:relative; top:28px;}

.room-type-items {margin-bottom:40px;}
.room-type-items .room-type-title {font-size:28px; margin:0 0 15px;}
.room-type-items .room-type-desc {font-style:italic; text-transform:uppercase; font-size:15px;}
.room-type-items .paragraphs-content {height:170px; width:100%;}
.room-type .paragraphs-3box-items {margin-top:50px; margin-bottom:30px;}


.hotel-policy-box{border: 2px solid #ccc;
    border-radius: 0;
	padding:30px 15px; }
.inroom-amenties-box {border: 2px solid #ccc;
    border-radius: 0;
	padding:30px 15px; margin-top:80px;}
	
.hotel-policy, .inroom-amenties {font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif; }
.hotel-policy h3, .inroom-amenties h3 { text-align:center; margin-top:-20px;}
.hotel-policy h3 span, .inroom-amenties h3 span {background:#f5f5f5; display:inline-block; padding:10px; z-index:2; position:relative; top:-30px;}
.hotel-policy li {width:100%; text-transform:uppercase; font-size:12px; letter-spacing:2px;}

.hotel-policy .tab-pane p{font-size:15px; letter-spacing:2px; color:#555;}
.hotel-policy .nav-tabs {border:0 transparent none;}
.hotel-policy .nav-tabs > li > a, .hotel-policy .nav-tabs > li > a:focus, .hotel-policy .nav-tabs > li > a:hover,
.hotel-policy .nav-tabs > li.active > a, .hotel-policy .nav-tabs > li.active > a:focus, .hotel-policy .nav-tabs > li.active > a:hover {border-radius:0; border:0px transparent none; background-color:transparent;}

.hotel-policy .nav-tabs > li > a {color:#888;}
 .hotel-policy .nav-tabs > li > a:focus, .hotel-policy .nav-tabs > li > a:hover, .hotel-policy .nav-tabs > li.active > a, .hotel-policy .nav-tabs > li.active > a:focus, .hotel-policy .nav-tabs > li.active > a:hover {color:#3b2316;}
 .hotel-policy .nav-tabs > li.active > a::before {content:"> ";}
.inner-header-fill {height:500px; background-repeat:no-repeat; background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; position:relative;}
.inner-header-fill .caption {position:relative; width:60%; margin:0 auto; border:2px solid #fff; background:rgba(0,0,0,0.5); color:#fff; text-align:center; padding:30px; top:15%;letter-spacing:2.5px;}	
.inner-header-fill .caption h5 {font-family: 'Vollkorn', serif;  font-size:18px; font-style:italic; font-weight:400; text-transform:capitalize;}
.inner-header-fill .caption p {font-family: 'Vollkorn', serif;  font-size:32px; font-style:italic; text-transform:capitalize; font-weight:400; padding:10px 30px; }

.room_intro {background-color: #fff; border: 1px solid #3b2316; margin-top:-50px; padding: 45px 10%; text-align:center; min-height:550px;}
.room_intro h2 {text-transform:capitalize; font-size:55px; color:#3b2316; line-height:65px; margin:0 0 10px 0; color:#000;}
.room_intro h4{font-family: 'Vollkorn', serif;  font-size:24px; font-style:italic; text-transform:capitalize; font-weight:400; margin:15px 0 15px;}
.room_intro h4::after {content: "-";    display: block;    font-size: 50px;    line-height: 32px;    margin-top: 15px;    text-align: center; font-weight:400; font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;}

.room_intro .global-icon-wrapper  {margin:120px 0 0;}


.innerpage_intro{background-color: #fff; border: 1px solid #3b2316; margin-top:-50px; padding: 45px 10%; text-align:center; }
.innerpage_intro.no-margin{ margin-top:0;}
.innerpage_intro h2 {text-transform:uppercase; font-size:60px; color:#3b2316; line-height:58px; margin:0 0 30px 0; color:#000; letter-spacing:3px;}
.innerpage_intro h4{font-family: 'Vollkorn', serif;  font-size:24px; font-style:italic; text-transform:capitalize; font-weight:400; margin:15px 0 15px;}
.innerpage_intro h4::after {content: "-";    display: block;    font-size: 50px;    line-height: 32px;    margin-top: 15px;    text-align: center; font-weight:400; font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;}
.innerpage_intro h3 {letter-spacing:2px;}
.innerpage_intro h3 i {color:#ccc;}
.innerpage_intro .email-link {font-size:13px; font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;  letter-spacing:2px; text-transform:uppercase; font-weight:600;}

#page-gather .modal-booking h4 {top:0; margin-top:30px;}
.page-offers .paragraphs-3box-items {margin-top:40px;}
.page-do .paragraphs-items, .page-do  .paragraphs-content, .page-do  .paragraphs-image {height:450px;}
.page-do  .paragraphs-image img {max-width:none; height:500px;}
#page-room-detail .paragraphs-items, #page-room-detail  .paragraphs-content,
.page-gather .paragraphs-items, .page-gather  .paragraphs-content {height:350px;}

.page-taste .paragraphs-items, .page-taste .paragraphs-content, .page-taste .paragraphs-image {
    height: 400px;
}

.page-taste .paragraphs-image img {
    height: 400px;
    left: -15%;
    width: auto;
    max-width: none;
    position: relative;
}
.open-hour {border:2px solid #ccc; padding:0px 20px 10px; font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif; position:relative; margin:35px auto 10px; display:block; width:250px;}
.open-hour h5 {position:relative; width:100%; top:-14px; margin:0; color:#888; font-weight:400; letter-spacing:2px;}
.open-hour h5 span {background:#fff; display:inline-block; padding:5px 10px;}

/*---Gallery Page---*/
.gallery {margin-top:20px;}
.gallery ul {padding:0; margin:0; list-style:none;}
/*.gallery ul li{padding:0; margin:0; list-style:none; padding:0 20px 35px 20px;}*/
.gallery ul li{
    padding:15px;
    list-style:none;
    /*margin:0 20px 35px 20px;
    border:10px solid #fff;
    background-color: #ffF;
    max-width: 252.5px;
    height: 252.5px;*/
    display: flex;
    align-items: center;
    justify-content: center;
	
}

.gallery ul li a {overflow:hidden;
	box-shadow:0px 0px 1px rgba(0,0,0,.2);
	height:250px;
	border:10px solid #fff;}
	
.gallery ul li img {
    display: block;
    margin: auto;
    -moz-user-select: none;
	position:relative; width:350px; max-width:none;
	
}
/*.gallery ul li img {*/
    /*-moz-user-select: none;  */
    /*border:10px solid #fff;  */
    /*box-shadow:0px 0px 1px rgba(0,0,0,.2);*/
/*}*/
.gallery ul li:hover img {opacity:0.5;}


/*---Gallery Page---*/

/*---Field Guide Page---*/
.field-guide {margin-top:30px; font-size:16px; color:#555;}
.field-guide p {font-size:16px;}
.bg-white {background-color:#fff;}

.field-guide-leftside {
    border-right: 1px solid #e5e5e5;
    min-height: 1600px;
}
.field-guide .page-heading {color:#000;}
.field-guide .page-heading p {font-size:18px;}
.field-guide .page-heading h1 span {position:relative; top:-30px; font-size:24px; font-family: 'Lobster', "Helvetica Neue", Helvetica, Arial, sans-serif; text-transform:capitalize; }

.field-guide .page-heading.small h1 {font-size:36px; text-align:left;}
.field-guide .page-heading.small h1 span {top:-17px; font-size:20px; }
.back-link {float:right; padding-top:35px;}

.article-item, .article-detail  { margin-right:0; }
.article-detail  { border-top:1px solid #e5e5e5; }
.article-item hr { border-bottom:1px solid #e5e5e5;}
.article-shortdesc h3 {text-transform:capitalize; color:#000; font-weight:400;}
.field-guide a {font-size:13px; font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;  letter-spacing:2px; text-transform:uppercase; font-weight:600;}
.field-guide a.btn {font-weight:400;}
.field-guide-rightside {padding-top:30px;}

.article-detail img {
    max-width: 100% !important;
    height: auto;
}

.article-detail iframe {
    width: 100% !important;
    height: 415px;
}

.pager li > a, .pager li > span {border:0 transparent none; padding:0; background:none;}
.pager li > a:hover, .pager li > a:focus {background:none; text-decoration:underline;}
.saturdays-offer h3{color:#000;}

.article-detail h2 {color:#000; text-transform:uppercase; font-weight:600;}

.little-gallery {margin-top:50px; margin-bottom:30px;}
.little-gallery ul {padding:0; margin:0; list-style:none;}
.little-gallery ul li{padding:0 7px; margin:0; list-style:none; height:100px; overflow:hidden;}
.little-gallery ul li img {-moz-user-select: none;}
.little-gallery ul li:hover img {opacity:0.5;}
.little-gallery h4 {color:#555;  font-weight:400; letter-spacing:2px; margin-top:20px;}
/*---Field Guide Page---*/


/*---Our Story Page---*/
.page-our-story .inner-header {margin-top:80px;}
.page-our-story .paragraphs-3box-items .paragraphs-content {height:250px;}
/*---Our Story Page---*/

/*---Press Page---*/
.page-press .paragraphs-content .date {font-size:13px; font-weight:700; color:#000; padding:10px 20px; background:#f2f0e9; display:inline-block; text-align:center; font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;  letter-spacing:2px;}
.page-press .paragraphs-content p {font-size:16px; color:#555;}
.page-press  .paragraphs-content h3 {font-weight:600; color:#000;}
.page-press  .paragraphs-content{padding:20px 10% 0;}
.page-press  .paragraphs-3box .paragraphs-content{ height:auto;}
.page-press  .paragraphs-3box .paragraphs-content h3 {font-size:18px; height:100px;}
.page-press .paragraphs-item {margin-bottom:35px;}
.page-press  a {font-size:13px; font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;  letter-spacing:2px; text-transform:uppercase; font-weight:600;}
.page-press  a.btn {font-weight:400;}
.page-press .pager {padding-left:15px;}

/*---careers Page---*/

.careers-box {background-color: #fff; border: 1px solid #3b2316; margin-top:50px; padding: 45px 10%; text-align:center; }
.careers-box h5 {color:#999; font-family: 'Vollkorn', serif;  font-size:18px; font-style:italic; text-transform:uppercase; font-weight:400; margin:15px 0 15px; color:#888; line-height:24px;}
.careers-box p {font-size:16px; color:#555;}

/*---Content Other---*/

.content-box {background-color: #fff; border: 1px solid #3b2316; margin-top:30px; padding: 20px 30px;  }
.content-box h4 {color:#000; text-transform:uppercase; margin:35px 0 15px; font-size:24px; line-height:24px; letter-spacing:2px;}
.content-box p, .content-box li {font-size:16px; color:#555;}
.content-box li {padding:5px 0;}

.features ul {padding:0; margin:0;}
.features li {list-style:none; color:#000; font-size:18px;}


.bg-map {background-color:#e3e0db; height:auto;}
.contact-form form {padding-top:30px;}
.contact-form label {font-weight:400; text-align:left;}
.contact-form input, .contact-form textarea, .modal-booking textarea {padding: 10px; border:2px solid #c2bcb9; font-size:15px; width:100%; border-radius:0; font-size:16px; font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif; letter-spacing:1.5px; }
.contact-form input{height:40px;}
.contact-form input.error,
.contact-form textarea.error{ border-color:#F00;}
.contact-form .btn-default {width:100%;}

.gather-form form {padding-top:30px;}
.gather-form label {font-weight:400; text-align:left;}
.gather-form input, .gather-form textarea, .modal-booking textarea {padding: 10px; border:2px solid #c2bcb9; font-size:15px; width:100%; border-radius:0; font-size:16px; font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif; letter-spacing:1.5px; }
.gather-form input{height:40px;}
.gather-form input.error,
.gather-form textarea.error{ border-color:#F00;}
.gather-form .btn-default {width:100%;}

#page-contact .innerpage_intro{padding: 35px 7%; }
#page-contact iframe {width:100%; height:400px;}

div.slider-content-wrapper{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  line-height: 460px;

  text-align: center;
}
div.slider-content-wrapper div.slider-content-inner {
  max-width:800px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color:#fff;
  margin-top:75px;
}

div.slider-content-wrapper div.slider-content-inner h2 {font-weight:600; text-transform:capitalize; text-shadow:2px 2px 2px rgba(0,0,0,0.8); line-height:1.5; font-size:28px; letter-spacing:2px;}
div.slider-content-wrapper div.slider-content-inner a {
  display: inline-block;
margin-top:20px;
color:#fff;
border:2px solid #fff;
text-transform:uppercase;
font-family:'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
background:rgba(0,0,0,0.5);
padding:12px 35px;
font-size:20px;
letter-spacing:2px;
}

div.slider-content-wrapper div.slider-content-inner a:hover{
text-decoration:none;	
background:rgba(0,0,0,0.7);
}

/*
inspired from http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

.flexslider .slides > li {
    height: 232px;
    width: 232px !important;
    border: 10px solid #fff;
  box-shadow:0px 0px 1px rgba(0,0,0,.2); position:relative; overflow:hidden;}

.flexslider .slides > li img {position:relative; height:240px; width:auto; max-width:none !important;}



@media (min-width: 1450px) {
	
nav .container, .inner-header .container{width:1450px;}
.modal-lg{width:1200px}

}
@media (max-width: 1449px) {
nav .container{width:1200px;}
.inner-header .container{width:100%;}
.modal-lg{width:1200px}
}

@media (max-width: 1199px) {
body, p {font-size:17px;}
nav .container{width:992px;}

    .secondary-nav ul {
        display: none;
    }

    .navbar-custom .nav li {
        padding: 0 15px;
    }

    .article-detail iframe {
        width: 100% !important;
        height: 350px;
    }

    #page-contact iframe {
        height: 379px;
    }
.modal-lg{width:900px}
.ui-datepicker td span, .ui-datepicker td a {padding:0.8em;}
.paragraphs-image img {max-width:550px;}
.paragraphs-3box-items {margin-top:0px;}
.paragraphs-3box-items .btn-default {min-width:0; padding:15px 20px;}
.paragraphs-3box-items .paragraphs-image img {max-width:100%;}

    .paragraphs-content {
        height: 379px;
    }

.inner-header-fill .caption {width:75%;}
.page-our-story .paragraphs-3box {margin-top:50px;}

.gallery ul li a {
	height:210px;
}
	
.gallery ul li img {
	position:relative; width:280px; 
	
}
}

@media (max-width: 991px) {
nav .container {width:768px;}
.inner-header-fill {background-size:1200px; height:400px;}
.modal-lg{width:700px}

    .navbar-custom .nav li {
        padding: 0 5px;
    }

    .article-detail iframe {
        width: 100% !important;
        height: 415px;
    }
.paragraphs-items {height:auto; overflow:auto;}
.paragraphs-image img {max-width:100%;}
.paragraphs-image {height:300px; overflow:hidden;}
.paragraphs-content {padding-top:20px; padding-bottom:20px; height:auto; border: 2px solid #e3e0db;	border-top: 0 none;}
.paragraphs-3box-items .col-md-4 {margin-top:80px;}

.paragraphs-3box-items .paragraphs-content {height:auto;}
.paragraphs-3box-items .btn-default {min-width:250px; }
.paragraphs-box:nth-child(odd) .paragraphs-content {border: 2px solid #e3e0db;	border-top: 0 none;}
.fieldguide-content {padding:20px 10%  0;}

footer {padding-top:30px; padding-bottom:30px;}
footer .subscription {margin-left:0; margin-top:30px;}
footer .social-media {margin-left:0;}
.room-type .paragraphs-3box-items {margin-top:0;}

.room-type-items  .paragraphs-image {height:360px;}
.hotel-policy .tab-content {margin-top:30px;}
.room_intro .global-icon-wrapper {margin:50px 0 0}
.room_intro {min-height:0;}

.page-do .paragraphs-image {height:300px;}
.page-do .paragraphs-image img {height:auto; max-width:100%; top:-40%;}

.page-taste .paragraphs-image {height:300px;}
.page-taste .paragraphs-image img {height:auto; max-width:100%; top:-40%; left:0;}

.page-offers .paragraphs-3box-items {margin-top:-40px;}
.page-offers .paragraphs-image img {top:0;}

    .paragraphs-image img {
        position: relative;
        top: -40%;
    }
#page-room-detail .paragraphs-items, #page-room-detail .paragraphs-content, .page-do .paragraphs-items, .page-do .paragraphs-content, .page-gather .paragraphs-items, .page-gather  .paragraphs-content, .page-taste .paragraphs-items, .page-taste .paragraphs-content {height:auto;}

.field-guide-leftside {border:0 transparent none;}
.article-item, .article-detail {margin-right:-15px;}
.field-guide-rightside {margin:0 -15px;}

.inner-header-fill .caption p {font-size:24px;}
.page-our-story .paragraphs-3box-items .paragraphs-content {height:auto; width:100%;}
.page-our-story .paragraphs-3box {margin-top:0;}

.page-press .paragraphs-3box-items .paragraphs-item {margin-top:50px;}
.page-press .paragraphs-3box-items .paragraphs-content {height:auto; width:100%;}
.page-press .paragraphs-3box {margin-top:0;}
.page-press .paragraphs-3box .paragraphs-content h3 {height:auto;}

.careers-box {padding: 30px; }
#page-contact .paragraphs-box .col-md-6 {float:none;}
div.slider-content-wrapper div.slider-content-inner {width:600px;}

.little-gallery ul li{	height:200px;}

}

@media (max-width: 767px) {
	.inner-header-fill {background-size:900px; height:350px;}

    .article-detail iframe {
        width: 100% !important;
        height: 320px;
    }
	body, p {font-size:15px;}
	h2 {font-size:24px;}
	h4 {font-size:18px;}
	.modal-lg{width:300px; margin:0 auto;}
	.ui-datepicker-multi-2 .ui-datepicker-group {width:100%; padding:0;}
	.ui-datepicker td span, .ui-datepicker td a {padding:0.2em 0;}
	.modal-content {padding:0 5px;}
	.ui-datepicker .ui-datepicker-title {font-size:18px;}
	.modal-booking .row {padding-bottom:0px;}
	.navbar-brand {float:right; position:absolute; top:-12px; right:0; padding:15px 0; height:60px; width:60px;}
	.navbar-brand img {max-width:100%;}
	.navbar-header {position:absolute;}
	.navbar-custom .nav li a {padding-top:15px; padding-bottom:15px; border-bottom:3px solid #e3e0db;}
	.navbar-custom .nav li a.btn-booknow {top:15px;}
	.content-area {max-width:600px; margin:0 auto; padding-left:20px; padding-right:20px;}
	.carousel-wrapper h2 {letter-spacing:0.5px;}
	.btn-default {min-width:0;}
	.saturdays_intro h2 {font-size:44px; line-height:40px;}
	.saturdays_intro h4 {font-size:20px;}
	
	#carousel-fieldguide {max-width:600px; margin:0 auto;}
	.fieldguide-items, .fieldguide-content {height:auto;}
	.fieldguide-image {height:350px;}
	.footer-bottom {padding:30px 0;}
	.footer-bottom .contact-link, .footer-bottom .copyright {text-align:center; padding:10px 0;}
	footer .subscription {margin-right:0;}
	#fieldguide .heading-title {left:25px;}
	#promo-show {font-size:12px; padding:10px 0; display:block;}
	
	footer li {font-size:14px;}

    .room_intro h2 {
        font-size: 40px;
        line-height: 45px;
    }
	.room-filters select {margin-bottom:10px;}
	.room-type .paragraphs-3box-items .col-md-4 {margin-top:50px;}
	.paragraphs-box {margin:50px 0 0;}
	.paragraphs-image img {position:relative; top:0px;}
	.page-taste .paragraphs-image img{max-width:580px; top:-22%;}
	.paragraphs-3box-items .col-md-4 {margin:50px 0 0;}
	.paragraphs-3box-items  .paragraphs-image, .paragraphs-3box-items  .paragraphs-content {margin:0 -15px;}
	
	.page-taste .paragraphs-image {height:auto;}
	.room-type .paragraphs-3box-items .paragraphs-image, .room-type .paragraphs-3box-items .paragraphs-content {margin:0; width:-moz-available;}
	.room-type .paragraphs-image img, .page-do .paragraphs-image img, .page-taste .paragraphs-image img {top:0;}
	
	.hotel-policy .tab-pane p {font-size:13px;}
	.inner-header-fill {background-size:1000px;}
	
	.page-heading h1 {font-size:50px;}
	.innerpage_intro h2 {font-size:36px; line-height:40px;}
	
	.inner-header-fill .caption p {padding:0 25px; font-size:18px;}
	.page-our-story .paragraphs-3box-items .paragraphs-content {width:-moz-available;}
	.page-our-story .inner-header {margin-top:50px;}
	.page-our-story .paragraphs-image img {top:0;}
	
	.page-press .paragraphs-3box-items .paragraphs-content {width:-moz-available;}
	.page-press  .paragraphs-image img {top:0;}
	
	.careers-box p, .content-box p, .features li {font-size:14px;}
	.careers-box h5, .content-box h4 {font-size:16px; line-height:18px;}
	
	div.slider-content-wrapper div.slider-content-inner  {width:80%;}
	.room-type-items .room-type-title {font-size:28px;}
	
	.gallery ul li a {
	height:250px;
	}
	
	.gallery ul li img {
	width:350px; 
	
	}
	
	.little-gallery ul li{	height:150px;}


}
@media (max-width: 650px) {
#carousel-fieldguide {margin:0 20px;}
#fieldguide .carousel-control .fa-angle-right {right:0;}
#fieldguide .carousel-control .fa-angle-left {left:0;}
.room-type-items  .paragraphs-image, .page-do .paragraphs-image {height:auto;}
#page-room-detail .paragraphs-items, #page-room-detail  .paragraphs-content, .page-do .paragraphs-items, .page-do .paragraphs-content, .page-gather .paragraphs-items, .page-gather  .paragraphs-content {height:auto;}
#page-room-detail .paragraphs-image img , .page-do .paragraphs-image img, .page-gather .paragraphs-image img{top:0;}
.page-taste .paragraphs-image img{max-width:100%; top:0%;}
.inner-header-fill .caption {padding:15px;}
.inner-header-fill .caption p {font-size:14px; }
.gallery {margin-top:0px;}
.gallery ul li {padding:0 5px 10px}
div.slider-content-wrapper div.slider-content-inner h2 {font-size:24px;}

.content-area.page-gallery {width:400px;}
.gallery ul li a {
	height:150px;
	}
	
	.gallery ul li img {
	width:250px; 
	
	}

}

@media (max-width: 467px) {
    .article-detail iframe {
        width: 100% !important;
        height: 210px;
    }
.paragraphs-image {height:auto;}
.saturdays_intro h2 {font-size:38px; line-height:34px;}
.saturdays_intro h4 {font-size:18px;}
.carousel-wrapper h2 {font-size:20px;}

    .room_intro h2 {
        font-size: 36px;
        line-height: 40px;
    }
#fieldguide .heading-title {padding:20px 20px 10px; left:15px;}
.h3, h3 {font-size:18px;}
.fieldguide-content p {font-size:15px;}
.open-hour  {width:auto;}
.field-guide p {font-size:14px;}
.page-heading h1 {font-size:36px;}
.field-guide .page-heading h1 span {top:-18px;}
.inner-header-fill .caption {width:90%; top:9%;}
.paragraphs-3box-items .btn-default {min-width:200px;;}
div.slider-content-wrapper div.slider-content-inner {margin-top:-75px;}
div.slider-content-wrapper div.slider-content-inner h2 {font-size:20px;}
.room-type-items .room-type-title {font-size:24px;}

.content-area.page-gallery {width:280px;}

.gallery ul li {width:235px;}
.gallery ul li a {
	height:210px;
	}
	
	.gallery ul li img {
	width:350px; 
	
	}
}

@media (max-width: 374px) {
    .article-detail iframe {
        width: 100% !important;
        height: 180px;
    }
}